h1 {
    color: blue; 
    background: yellow;
}

h2 {
    color: #1e561e; 
    background: pink;
}

/* 
    Ini komentar di CSS 
*/
.artikel h1 {
    color: red;
    background-color: blue;
    font-size: 20px;
}